<a [routerLink]="'../create-room'">Create room</a>
<mat-divider></mat-divider>
<div class="flex">
  <div class="flex flex-col w-1/2">
    <div class="font-semibold">
      Rooms List
    </div>
    <mat-divider></mat-divider>
    <ng-container *ngIf="(rooms$ | async) as rooms">
      <ng-container *ngIf="rooms.items as roomsItems">
        <div *ngIf="roomsItems.length; else noRooms">
          <mat-selection-list multiple="false" (selectionChange)="selectRoom($event)">
            <mat-list-option  *ngFor="let room of roomsItems" [value]="room">
              Name: {{room.name}} ID: {{room.id}}
            </mat-list-option >
          </mat-selection-list>
          <mat-paginator [pageIndex]="rooms.meta.currentPage" [pageSize]="rooms.meta.itemsCount"
                         [length]="rooms.meta.totalItems" [pageSizeOptions]="[10, 20, 30]"
                         (page)="onPaginateRooms($event)"></mat-paginator>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="flex flex-col w-1/2">
    <h1>Room</h1>
    {{selectedRoom | json}}
  </div>
</div>
<ng-template #noRooms>
  <mat-error>
    No rooms found
  </mat-error>
</ng-template>
